name: Release
on:
  push:
    branches: master
jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout 
        uses: actions/checkout@v2
        with: 
          fetch-depth: 0
          persist-credentials: false

      - name: Setup node
        uses: actions/setup-node@v1
        with:
          node-version: 14

      - name: Install Dependencies
        run: yarn install

      - name: Build Dist
        run: yarn gulp

      - run: cp -r package.json ./dist

      - run: cp -r README.md

      - name: Release
        env: 
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
        run: yarn semantic-release
